@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html body {
  background-color: hsl(225, 100%, 94%);
}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.card {
  margin-top: 260px;
  margin-left: 540px;
  width: 20rem;
  height: 500px !important;
}

.card-body {
  height: 20rem;
}

#title {
  margin-left: 70px;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

.card-img-top {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.card-text {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
}

#box {
  width: 280px;
  height: 80px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
}

#box img {
  margin-top: 20px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}

#payment {
  margin-top: -50px;
  margin-left: 80px;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

#price {
  margin-left: 78px;
  margin-top: -0.5px;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  color: hsl(224, 23%, 55%);
}

#change {
  margin-top: -35px;
  margin-left: 220px;
  font-size: 12px;
  font-family: "Red Hat Display", sans-serif;
  color: hsl(228, 70%, 35%);
  text-decoration: underline;
}

#btn {
  width: 17em;
  height: 40px;
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 10px;
  border-color: hsl(228, 70%, 35%);
  background-color: hsl(245, 75%, 52%);
  color: rgb(233, 243, 251);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  box-shadow: 0px 5px 20px hsl(228, 46%, 44%);
}

#cancelorder {
  margin-top: 20px;
  margin-left: 95px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
  color: hsl(224, 23%, 55%);
}

#btn:hover {
  background-color: hsla(245, 75%, 52%, 0.807);
}

#cancelorder:hover {
  color: hsl(223, 47%, 23%);
}

#change:hover {
  color: hsla(245, 75%, 52%, 0.807);
}
